<mat-toolbar>
    <span>
        <a routerLink="recipes" mat-button>
            <mat-icon>flatware</mat-icon>Between Crumbs
        </a>
        <a routerLink="register" mat-button>
            <mat-icon>add circle</mat-icon>Register
        </a>
        <a routerLink="login" mat-button>
            <mat-icon>login</mat-icon>Login
        </a>
        <a routerLink="recipes" mat-button>
            <mat-icon>blender</mat-icon>Recipes
        </a>
        <a routerLink="who-are-we" mat-button>
            <mat-icon>group</mat-icon>Who are we
        </a>
        <a routerLink="contact" mat-button>
            <mat-icon>call</mat-icon>Contact
        </a>
    </span>
</mat-toolbar>
